@charset "UTF-8";
.flexs{
    display: flex;
    align-items: center;
    justify-content: center;
}
html,body {
    height: 100%;
    margin:0 auto;
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
}
body{
    width:3.2rem;
}
.heads{
    width:100%;
    height:0.8rem;
    background-color: #fa6939;
    padding-top:0.4rem;
    position:absolute;
    top:0;
    left:0;
    >div{
        width:100%;
        height:0.4rem;
        position:relative;
        >.lefts{
            width:0.5rem;
            height:100%;
            position:absolute;
            left:0;
            bottom:0;
            color: #696969;
            font-size:0.2rem;
            @extend .flexs;
        }
        >.centers{
            width:100%;
            height:100%;
            @extend .flexs;
        }
        >.rights{
            width:0.5rem;
            height:100%;
            position:absolute;
            right:0;
            bottom:0;
            @extend .flexs;
        }
    }
}
.sets{
    width:100%;
    overflow: auto;
    position:absolute;
    left:0;
    
}
.foots{
    width:100%;
    height:0.4rem;
    position:absolute;
    left:0;
    bottom:0;
    display: flex;
    box-shadow: 0rem 0rem 0.2rem 0rem rgba(164, 164, 164, 0.33);
    >div{
        width:100%;
        height:100%;
        @extend .flexs;
    }
}

.fts{
   width:100%;
    height:0.4rem;
    position:absolute;
    left:0;
    bottom:0;
    display: flex;
    box-shadow: 0rem 0rem 0.2rem 0rem rgba(164, 164, 164, 0.33); 
}