@charset "UTF-8";
/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang, .wdows > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
  /*禁止换行*/
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .heads > div:nth-child(1) > .lefts, .heads > div:nth-child(1) > .centers, .heads > div:nth-child(1) > .rights, .foots > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexs, .heads > div:nth-child(1) > .lefts, .heads > div:nth-child(1) > .centers, .heads > div:nth-child(1) > .rights, .foots > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

body {
  max-width: 10rem;
}

.heads {
  width: 10rem;
  padding-top: 40px;
  background-color: #fa6939;
  box-shadow: 0rem 0rem 0.2rem 0rem rgba(164, 164, 164, 0.53);
}
.heads > div:nth-child(1) {
  width: 100%;
  height: 1.25rem;
  position: relative;
}
.heads > div:nth-child(1) > .lefts {
  width: 1.3rem;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #696969;
  font-size: 0.5rem;
}
.heads > div:nth-child(1) > .centers {
  width: 100%;
  height: 100%;
}
.heads > div:nth-child(1) > .rights {
  width: 1.3rem;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.sets {
  width: 100%;
  overflow: auto;
  position: relative;
}

.foots {
  width: 10rem;
  height: 1.5rem;
  background: white;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  box-shadow: 0rem 0rem 0.2rem 0rem rgba(164, 164, 164, 0.53);
}
.foots > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font: normal 0.32rem PingFang-SC-Regular;
}
.foots > div > div {
  font-size: 0.64rem;
}

/*tab*/
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tabs > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs_child {
  overflow: hidden;
}
.tabs_child > div {
  width: 100%;
  height: 100%;
}

.wdows {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.8);
}
.wdows > div {
  width: 60%;
  height: 10%;
  background: white;
  border-radius: 0.3rem;
  position: absolute;
  top: 45%;
  left: 20%;
  text-align: center;
  font: normal .64rem PingFang-SC-Medium;
  line-height: 1.5rem;
}

/*# sourceMappingURL=layout.css.map */
