@charset "UTF-8";
@import "../../../css/styleks.scss";
.flexs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heads{
    background:white;
    >div{
        >.centers{
            color: #333333;
            font:normal 0.48rem PingFang-SC-Regular;
        }
    }
}
.sets{
    top:1.707rem;
    bottom:0;
    >div{
        width: 8.667rem;
        height:1.48rem;
        display: flex;
        align-items: center;
        margin:0.307rem auto 0;
        >div:nth-child(1){
            height:100%;
            @extend .flexs;
            color: #333333;
            font:normal 0.4rem PingFang-SC-Regular;
        }
        >input{
            height:90%;
            color: #999999;
            padding-left:0.3rem;
            font:normal 0.4rem PingFang-SC-Regular;
        }
    }
    >div:nth-child(1){
        border-bottom:0.01rem solid #eeeeee;
    }
    >div:nth-child(2){
        border-bottom:0.01rem solid #eeeeee;
        >div:nth-child(3){
            height:0.2rem;
            color: #999999;
            font:normal 0.102rem PingFang-SC-Regular;
            border-left:0.02rem solid #eeeeee;
            padding:0 0.05rem;
            @extend .flexs;
        }
    }
    >div:nth-child(3){
        border-bottom:0.01rem solid #eeeeee;
    }
    >div:nth-child(4){
        width: 8.667rem;
        height: 1.067rem;
        background-image: linear-gradient(#fa6939,#fa6939), 
        linear-gradient(#bdbdbd,#bdbdbd);
        background-blend-mode: normal,normal;
        border-radius: 0.08rem;
        @extend .flexs;
        color: #ffffff;
        font:normal 0.48rem PingFang-SC-Regular;
    }
    >div:nth-child(5){
        height:0.35rem;
        justify-content: flex-end;
        >div{
            height:100%;
            
            color: #0099fe;
            font:normal 0.32rem PingFang-SC-Regular;
        }
    }
}
