@charset "UTF-8";
@import "../../../css/styleks.scss";
.flexs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heads{
    background:white;
    >div{
        >.centers{
            color: #333333;
            font:normal 0.16rem PingFang-SC-Regular;
        }
    }
}
.sets{
    top:0.8rem;
    bottom:0;
    >div{
        width: 2.773rem;
        height:0.5rem;
        display: flex;
        align-items: center;
//      padding:0.188rem 0;
        margin:0 auto;
        >div:nth-child(1){
            color: #333333;
            font:normal 0.128rem PingFang-SC-Regular;
        }
        >input{
            color: #999999;
            padding:0 0.1rem;
            font:normal 0.128rem PingFang-SC-Regular;
        }
    }
    >div:nth-child(1){
        border-bottom:0.01rem solid #eeeeee;
    }
    >div:nth-child(2){
        border-bottom:0.01rem solid #eeeeee;
        >div:nth-child(3){
            height:0.2rem;
            color: #999999;
            font:normal 0.102rem PingFang-SC-Regular;
            border-left:0.02rem solid #eeeeee;
            padding:0 0.05rem;
            @extend .flexs;
        }
    }
    >div:nth-child(3){
        border-bottom:0.01rem solid #eeeeee;
    }
    >div:nth-child(4){
        width: 2.773rem;
        height: 0.341rem;
        margin-top:0.22rem;
        background-image: linear-gradient(#fa6939,#fa6939), 
        linear-gradient(#bdbdbd,#bdbdbd);
        background-blend-mode: normal,normal;
        border-radius: 0.026rem;
        @extend .flexs;
        color: #ffffff;
        font:normal 0.16rem PingFang-SC-Regular;
    }
    >div:nth-child(5){
        height:0.35rem;
        display:flex;
        justify-content: flex-end;
        >div{
            height:100%;
            padding:0 0.1rem;
            color: #0099fe;
            font:normal 0.102rem PingFang-SC-Regular;
            line-height:0.35rem;
        }
    }
}
