@charset "UTF-8";
@import "../../../css/styleks.scss";
.kks{
    width:100%;
    display: flex;
    align-items: center;
    padding:0 0.387rem;
}
.fota{
    height:100%;
    font:$fonta;
    display: flex;
    align-items: center;
}
.heads{
    >div{
        background:white;
        >.centers{
            font:$fontb;
        }
    }
}
.sets{
    top:2.5rem;
    bottom:0;
}
.addsa{
    width: 10rem;
    height: 2.827rem;
    overflow:hidden;
    background:rgba(244,244,244,0.8);
    border:0.03rem solid #eeeeee;
    >input{
        display:none;
    }
    >label{
        >div:nth-child(1){
            width:100%;
            height:70%;
            @extend .flexs;
            color:#fa6939;
            font-size:1.333rem;
        } 
        >div:nth-child(2){
            width:100%;
            height:30%;
            text-align: center;
            color: #333333;
            font:normal 0.32rem PingFang-SC-Regular;
        } 
    }
}
.titles{
    height:1rem;
    @extend .kks;
    background:white;
    >div:nth-child(1){
        width:12%;
        @extend .fota;
    }
    >input:nth-child(2){
        width:88%;
        padding:0 0.2rem;
    }
}
.classification{
    height:1.707rem;
    @extend .kks;
    background:white;
    border-top:0.267rem solid #eeeeee;
    border-bottom:0.267rem solid #eeeeee;
    >div:nth-child(1){
        width:20%;
        @extend .fota;
    }
    >div:nth-child(2){
        width:80%;
        height:100%;
        display: flex;
        justify-content: flex-end;
        >div:nth-child(1){
            height:100%;
            display: flex;
            align-items: center;
            color: #999999;
            font:normal 0.32rem PingFang-SC-Regular;
        } 
        >div:nth-child(2){
            width:10%;
            height:100%;
            @extend .flexs;
            justify-content: flex-end;
            font-size:0.5rem;
        } 
    }
}
.price{
    height:1.187rem;
    @extend .kks;
    background:white;
    >div:nth-child(1){
        width:12%;
        @extend .fota;
    }
    >div:nth-child(2){
        width:88%;
        height:100%;
        padding:0 0.267rem;
        position:relative;
        @extend .flexs;
        >input{
            width:100%;
            height:75%;
            padding:0 0.7rem 0 0.2rem;
            font:normal 0.32rem PingFang-SC-Regular;
            border:0.01rem solid #eeeeee;
        }
        >div{
            position:absolute;
            top:30%;
            right:5%;
            color: #999999;
            font:normal 0.32rem PingFang-SC-Regular;
        }
    }
}
.details{
    height:1.733rem;
    @extend .kks;
    background:white;
    border-top:0.32rem solid #eeeeee;
    border-bottom:0.32rem solid #eeeeee;
    >div:nth-child(1){
        width:20%;
        @extend .fota;
    }
    >div:nth-child(2){
        width:80%;
        @extend .fota;
        justify-content: flex-end;
        font-size:0.5rem;
    }
}
.releases{
    width: 9.2rem;
    height: 1.067rem;
    border-radius:0.5rem;
    background-color: #fa6939;
    margin:4.587rem auto 0;
    @extend .flexs;
    color: #ffffff;
    font:$fontb;
}



























