@charset "UTF-8";
/* 清理浮动 */
.clearfix:before, .clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*单行隐藏*/
.yincang {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*多行隐藏*/
.yincangs {
  overflow: hidden;
  /*超出隐藏*/
  display: -webkit-box;
  /*将对象作为弹性伸缩盒子模型显示。*/
  -webkit-box-orient: vertical;
  /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
  -webkit-line-clamp: 2;
  /*超出2行用省略号表示*/
}

/*换行*/
.newline {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。*/
  word-wrap: break-word;
  /*只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /*只对中文起作用，强制换行。*/
}

/*禁止换行*/
.ban_newline {
  white-space: nowrap;
  /*禁止换行*/
}

/*placeholder样式*/
.input::-webkit-input-placeholder {
  text-align: center;
}

/*隐藏滚动条*/
.scroll_bar::-webkit-scrollbar {
  width: 0 !important;
  /*height:0 !important;*/
  /*display: none;*/
}

/*上下左右居中*/
.flexs, .swiper1 .swiper-slide > div, .classification > div:nth-child(2) > div:nth-child(2), .price > div:nth-child(2), .imgks > div:nth-child(1) > label > div:nth-child(1), .releases, #wdowk > div > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kks, .titles, .classification, .price, .details {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.387rem;
}

.fota, .titles > div:nth-child(1), .classification > div:nth-child(1), .price > div:nth-child(1), .details > div:nth-child(1), .details > div:nth-child(2) {
  height: 100%;
  font: normal 0.4rem PingFang-SC-Regular;
  display: flex;
  align-items: center;
}

.heads > div > .lefts {
  color: white;
}
.heads > div > .centers, .heads > div .rights {
  color: white;
  font: normal 0.48rem PingFang-SC-Regular;
}

.sets {
  top: 2.5rem;
  bottom: 0;
}
.sets > div {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.swiper1 .swiper-slide {
  position: relative;
}
.swiper1 .swiper-slide > img {
  width: 100%;
  height: 8.133rem;
}
.swiper1 .swiper-slide > div {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
  color: #fba840;
  font-size: 1.5rem;
}

.addsa {
  width: 10rem;
  height: 8.133rem;
  overflow: hidden;
  background: rgba(244, 244, 244, 0.8);
  border: 0.03rem solid #eeeeee;
}
.addsa > input {
  display: none;
}
.addsa > label > div:nth-child(1) {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fa6939;
  font-size: 2rem;
}
.addsa > label > div:nth-child(2) {
  width: 100%;
  height: 50%;
  text-align: center;
  color: #333333;
  font: normal 0.32rem PingFang-SC-Regular;
}
.addsa > label > img {
  width: 100%;
  height: 100%;
}

.titles {
  height: 1rem;
  background: white;
}
.titles > div:nth-child(1) {
  width: 12%;
}
.titles > input:nth-child(2) {
  width: 88%;
  padding: 0 0.2rem;
  font: normal 0.32rem PingFang-SC-Regular;
}

.classification {
  height: 1.707rem;
  background: white;
  border-top: 0.267rem solid #eeeeee;
  border-bottom: 0.267rem solid #eeeeee;
}
.classification > div:nth-child(1) {
  width: 20%;
}
.classification > div:nth-child(2) {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.classification > div:nth-child(2) > div:nth-child(1) {
  height: 100%;
  display: flex;
  align-items: center;
  color: #999999;
  font: normal 0.32rem PingFang-SC-Regular;
}
.classification > div:nth-child(2) > div:nth-child(2) {
  width: 10%;
  height: 100%;
  justify-content: flex-end;
  font-size: 0.5rem;
}

.classifications {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.classifications > li {
  height: 1.173rem;
  padding: 0 0.427rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.01rem solid #eeeeee;
}
.classifications > li > span {
  font: normal 0.4rem PingFang-SC-Regular;
}
.classifications > li > i {
  color: #fa6939;
  font-size: 0.4rem;
}

.price {
  height: 1.187rem;
  background: white;
}
.price > div:nth-child(1) {
  width: 12%;
}
.price > div:nth-child(2) {
  width: 88%;
  height: 100%;
  padding: 0 0.267rem;
  position: relative;
}
.price > div:nth-child(2) > input {
  width: 100%;
  height: 75%;
  padding: 0 0.7rem 0 0.2rem;
  font: normal 0.32rem PingFang-SC-Regular;
  border: 0.01rem solid #eeeeee;
}
.price > div:nth-child(2) > div {
  position: absolute;
  top: 30%;
  right: 5%;
  color: #999999;
  font: normal 0.32rem PingFang-SC-Regular;
}

.details {
  height: 1.733rem;
  background: white;
  border-top: 0.32rem solid #eeeeee;
  border-bottom: 0.02rem solid #eeeeee;
}
.details > div:nth-child(1) {
  width: 20%;
}
.details > div:nth-child(2) {
  width: 80%;
  justify-content: flex-end;
  font-size: 0.5rem;
}

.detailk {
  width: 100%;
  height: 3rem;
  background: white;
  padding: 0.3rem 0.25rem;
}
.detailk > textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  font: normal 0.32rem PingFang-SC-Regular;
}

.imgks {
  width: 100%;
  padding-bottom: 0.5rem;
  background: white;
  display: none;
}
.imgks > div:nth-child(1) {
  width: 3rem;
  height: 3rem;
  margin-left: 0.227rem;
  border-radius: 0.2rem;
  overflow: hidden;
  background: rgba(244, 244, 244, 0.8);
  border: 0.03rem solid #eeeeee;
}
.imgks > div:nth-child(1) > input {
  display: none;
}
.imgks > div:nth-child(1) > label > div:nth-child(1) {
  width: 100%;
  height: 70%;
  color: #dddddd;
  font-size: 1rem;
}
.imgks > div:nth-child(1) > label > div:nth-child(2) {
  width: 100%;
  text-align: center;
  color: #bbbbbb;
  font: normal 0.4rem PingFang-SC-Regular;
}

.releases {
  width: 9.2rem;
  height: 1.067rem;
  border-radius: 0.5rem;
  background-color: #fa6939;
  margin: 4.587rem auto 0;
  color: #ffffff;
  font: normal 0.48rem PingFang-SC-Regular;
}

#wdowk {
  z-index: 1;
}
#wdowk > div {
  height: 15%;
}
#wdowk > div > div:nth-child(1) {
  height: 50%;
  border-bottom: 0.01rem solid #eeeeee;
}
#wdowk > div > div:nth-child(2) {
  height: 50%;
  display: flex;
}
#wdowk > div > div:nth-child(2) > div {
  width: 50%;
  border: 0.01rem solid #eeeeee;
}

/*# sourceMappingURL=adds.css.map */
