@charset "UTF-8";
@import "../../../css/styleks.scss";
.heads{
    >div{
        background:white;
        >.centers{
            font:$fontb;
        }
    }
}
.sets{
    top:2.5rem;
    bottom:0;
    background:#eeeeee;
    >input{
        width:100%;
        height:1.173rem;
        padding:0 0.387rem;
        font:$fonta;
        border-bottom:0.01rem solid #eeeeee;
    }
    >input:nth-child(1){
        margin-top:0.4rem;
    }
    >div{
        width: 9.213rem;
        height: 1.173rem;
        background-color: #fa6939;
        border-radius: 0.08rem;
        margin:1.013rem auto;
        @extend .flexs;
        color: #ffffff;
        font:$fontb;
    }
}