@charset "UTF-8";
@import "../../../css/styleks.scss";
.heads{
    >div{
        >.lefts{
            color:white;
        }
        >.centers,.rights{
            color:white;
            font:$fontb;
        }
    }
}
.sets{
    top:2.5rem;
    bottom:0;
    >div{
        height:1.173rem;
        padding:0 0.427rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom:0.01rem solid #eeeeee;
        font:$fonta;
        >i{
            color:#fa6939;
            font-size:0.4rem;
        }
    }
}




























