@charset "UTF-8";
@import "../../../css/styleks.scss";
.heads{
    >div{
        background:white;
        >.centers{
            font:$fontb;
        }
    }
}
.sets{
    top:2.5rem;
    bottom:1.4rem;
    border-top:0.267rem solid #eeeeee;
}
.times{
    border-bottom:0.267rem solid #eeeeee;
    >div{
        width:100%;
        height:1.173rem;
        padding:0 0.413rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font:$fonta;
        border-bottom:0.01rem solid #eeeeee;
        >input{
            width:75%;
            font:$fonta; 
        }
    }
}
.preferential{
    width:100%;
    height:1.573rem;
    padding:0 0.413rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:0.267rem solid #eeeeee;
    font:$fonta;
//  >img:nth-child(2){
//      width: 0.973rem;
//      height: 0.973rem;
//  }
    >div:nth-child(2){
        font-size:0.5rem;
    }
}
.amount{
    width: 9.2rem;
    height: 2.48rem;
    margin:0.4rem auto;
    display: flex;
    >div:nth-child(1){
        width:7.867rem;
        height:100%;
        >div{
            width:100%;
            height:50%;
            border:0.01rem solid #eeeeee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            >div{
                width:20%;
                text-align:right;
                font:$fonta;
            }
            >input{
                width:80%;
                font:$fonta;
                padding-left:0.5rem;
            }
        }
    }
    >div:nth-child(2){
        width:1.293rem;
        height:100%;
        @extend .flexs;
        border:0.01rem solid #eeeeee;
        border-left:none;
        font-size:0.5rem;
    }
}
.foots{
    @extend .flexs;
    color: #ffffff;
    font:$fontb;
    background-color: #fa6939;
}
