@charset "UTF-8";
@import "../../../css/styleks.scss";
.heads{
    >div:nth-child(1){
        >.lefts{
            color:white;
        }
        >.centers{
            padding:0 1.3rem;
            display: flex;
            >div{
                width:100%;
                height:100%;
                color: #666666;
                font:$fontb;
                @extend .flexs;
            }
            >.act{
                color:white;
            }
        }
        >.rights{
            color:white;
            font-size:0.5rem;
        }
    }
}