@charset "UTF-8";
@import "../../../css/styleks.scss";
.heads{
    >div:nth-child(1){
        >.lefts{
            color:white;
        }
        >.centers{
            padding:0 1.3rem;
            display: flex;
            >div{
                width:100%;
                height:100%;
                color: #666666;
                font:$fontb;
                @extend .flexs;
            }
            >.act{
                color:white;
            }
        }
        >.rights{
            color:white;
            font-size:0.5rem;
        }
    }
}
.sets{
    padding-bottom:1rem;
}
.swiper1{
    .swiper-slide{
        height:8.44rem;
        >img{
            width:100%;
            height:100%;
        }
    }
}
.details{
    padding:0 0.32rem 0.2rem 0.32rem;
    >div:nth-child(1){
        height:1.2rem;
        color:$backa;
        font:normal 0.64rem PingFang-SC-Regular;
        line-height:1.2rem;
    }
    >div:nth-child(2){
        display: flex;
        justify-content: space-between;
        >div{
            font:$fonta;
        }
        >div:nth-child(2){
            color: #999999;
        }
    }
}
.tips{
    height:1.627rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 0.4rem;
    border-top:0.267rem solid #eeeeee;
    border-bottom:0.267rem solid #eeeeee;
    >div:nth-child(1){
        display: flex;
        align-items: center;
        >div:nth-child(1){
            width: 1.547rem;
            height: 0.547rem;
            border: solid 0.013rem #fe6430;
            @extend .flexs;
            color: #fd7f54;
            font:$fonts;
        }
        >div:nth-child(2){
            width:6.5rem;
            height: 0.547rem;
            font:$fonts;
            margin-left:0.347rem;
            line-height: 0.547rem;
            @extend .yincang;
        }
    }
}
.store{
    height:2.24rem;
    padding:0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:0.267rem solid #eeeeee;
    >div:nth-child(1){
        >img{
            width: 1.067rem;
            height: 1.08rem;
            border-radius:50%;
        }
        >span{
            font:$fonta;
            margin-left:0.347rem;
        }
    }
    >div:nth-child(2){
        width: 1.76rem;
        height: 0.667rem;
        background-image: linear-gradient(-30deg,#9fc710 0%,#b2d33c 100%), 
        linear-gradient(#ff0000,#ff0000);
        background-blend-mode: normal,normal;
        border-radius: 0.333rem;
        @extend .flexs;
        color: #ffffff;
        font:$fonts;
    }
}
.evaluation{
    height:1.2rem;
    padding:0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font:$fonta;
    border-bottom:0.01rem solid #eeeeee;
    >i{
        font-size:0.5rem;
    }
}
.evaluation_child{
    padding:0 0.4rem;
    >div:nth-child(1){
        height:1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        >div:nth-child(1){
            
            >img{
                width: 0.68rem;
                height: 0.68rem;
                border-radius:50%;
            }
            >span{
                font:$fonta;
                margin-left:0.253rem;
            }
        }
        >div:nth-child(2){
            font:$fonta;
        }
    }
}
.bodys{
    font: normal 0.373rem PingFang-SC-Regular;
    >div{
        padding:0.2rem 0;
        >img{
            width: 2.747rem;
            height: 2.747rem;
            margin:0.2rem 0 0 0.2rem;
        }
    }
}
.alls{
    padding-bottom:0.1rem;
    border-bottom:0.213rem solid #eeeeee;
    >div{
        width: 3.467rem;
        height: 0.8rem;
        margin:0.2rem auto;
        border-radius: 0.4rem;
        border: solid 0.02rem #fba940;
        @extend .flexs;
        color: #fba940;
        font: normal 0.373rem PingFang-SC-Regular;
    }
}
.dataks{
    padding:0 0.4rem;
    >div:nth-child(1){
        font:$fonta;
        padding:0.45rem 0;
    }
}
.evaluations_child{
    width:100%;
    overflow: auto;
    >div:nth-child(1){
        width: 8.867rem;
        height:1.547rem;
        margin:0 auto;
        display: flex;
        align-items: center;
        border-bottom:0.02rem solid #eeeeee;
        >div{
            width: 2.533rem;
            height: 0.76rem;
            background-color: #fa6939;
            border-radius: 0.38rem;
            color: #ffffff;
            font:$fonts;
            @extend .flexs;
        }
    }
}
.comments{
    padding:0.4rem;
    border-bottom:0.267rem solid #eeeeee;
    >div:nth-child(1){
        >img{
            width: 0.96rem;
            height: 0.96rem;
            border-radius:50%;
        }
        >span{
            color: #fa6939;
            font:$fonta;
            margin-left:0.2rem;
        }
    }
    >div:nth-child(2){
        color: #999999;
        font:$fonts;
        line-height:0.96rem;
    }
    >div:nth-child(3){
        font:$fonta;
    }
    >div:nth-child(4){
        margin-top:0.3rem;
        >img{
            width: 4.373rem;
            height: 3.867rem;
        }
    }
    >div:nth-child(5){
        margin-top:0.3rem;
        display: flex;
        justify-content: space-between;
        >div:nth-child(1){
            color: #999999;
            font:$fonts;
        }
        >div:nth-child(2){
            >i{
                font-size:0.5rem;
            }
            >span{
                font:$fonts;
            }
        }
    }
}
.comments:last-child{
    border:none;
}
.icon-shoucang{
    color:#fa6939;
}



















.foots{
    >div:nth-child(1){
        flex-direction: row;
        >div{
            width:100%;
            height:100%;
            @extend .flexs;
            flex-direction:column;
            >div{
                color: #999999;
                font:$fonts;
            }
        }
    }
    >div:nth-child(2){
        color: #fefefe;
        font:$fontb;
        background-color: #fa6939;
    }
}









