@charset "UTF-8";
@import "../../../css/styleks.scss";
.heads{
    >div:nth-child(1){
        >.lefts{
            color:white;
        }
        >.centers,>.rights{
            color:white;
            font:$fontb;
        }
    }
}
.sets{
    >div:nth-child(1){
        width:100%;
        border-bottom:0.267rem solid #eeeeee;
        >input{
            width:100%;
            height:1.307rem;
            padding:0 0.413rem;
            font:$fonta;
            border-bottom:0.01rem solid #eeeeee;
        }
    }
    >div:nth-child(2){
        width: 9.2rem;
        height: 1.173rem;
        margin:0.773rem auto;
        background-color: #fa6939;
        border-radius: 0.08rem;
        @extend .flexs;
        color: #ffffff;
        font:$fontb;
    }
}
