@charset "UTF-8";
@import "../../../css/styleks.scss";
.heads{
    >div{
        >.lefts{
            color:white;
        }
        >.centers,>.rights{
            color:white;
            font:$fontb;
        }
    }
}
.sets{
    padding:0 0.5rem;
    >h3:nth-child(1){
        padding:0.88rem 0 0.44rem 0;
        font:$fonta;
    }
    >div:nth-child(2){
        font:$fonts;
    }
}
