@charset "UTF-8";
@import "../../../css/styleks.scss";
.heads{
    background:$backa;
}
.as{
  width:100%;
  border:1px solid red;
  text-align: justify;
}
.as:after {
    content: " ";
    display: inline-block;
    width: 100%;
}