@charset "UTF-8";
@import "../../../css/styleks.scss";
.heads{
    >div:nth-child(1){
        >.lefts{
            color:#ffffff;
        }
        >.centers{
            color: #ffffff;
            font:$fontb;
        }
    }
}
.sets{
    width:100%;
    >div:nth-child(1){
        width: 8.253rem;
        margin:0 auto;
        >input,>div{
            width:100%;
            height:1.307rem;
            padding:0 0.28rem;
            font:$fonta;
            border-bottom:0.013rem solid #e5e5e5;
        }
        >div{
            display: flex;
            >input{
                width:70%;
                font:$fonta;
            }
            >div{
                width:30%;
                @extend .flexs;
                >div{
                    width: 2.053rem;
                    height: 0.76rem;
                    background-color: #fa6939;
                    border-radius: 0.08rem;
                    @extend .flexs;
                    color: #ffffff;
                    font:$fonts;
                }
            }
        }
    }
}
.determine{
    width: 9.2rem;
    height: 1.173rem;
    margin:1.213rem auto;
    background-color: #fa6939;
    border-radius: 0.08rem;
    color: #ffffff;
    font:$fontb;
    @extend .flexs;
    
}
.wdows{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    position:fixed;
    top:0;
    left:0;
    background: rgba(128,128,128,0.8);
    >div{
        width:60%;
        height:10%;
        @extend .yincang;
        background:white;
        border-radius:0.3rem;
        position:absolute;
        top:45%;
        left:20%;
        text-align: center;
        font:normal .64rem PingFang-SC-Medium;
        line-height:1.5rem;
    }
}





























